data/training_100000samples_random_process_04_1372Hz_cankayser.tfrecord
data/validation_10000samples_random_process_04_1372Hz_cankayser.tfrecord
__pycache__/helper.cpython-38.pyc
__pycache__/models.cpython-38.pyc
__pycache__/reader.cpython-38.pyc
